html { 
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top {
  text-align: center;
}

.top li {
  display: inline-block;
  margin: 1em;
  list-style: none;
  font-size: 1.3em;  
}

.main-page {
  
  display: flex;
  flex-direction: column;
  width:50%;
  padding: 40px;
  margin:0 auto;
  background:rgba(199, 211, 34, 0.8);
  border-radius: 10px;
  
}

.button, #next-question {
  margin-left: auto;
  margin-right: auto;
  height: 3em;
  cursor: pointer;
  text-transform: uppercase;
  border: 0.1em #07773e solid;
  background-color: #07773e;
  color: #ffffff;
}




.button:hover,
.button:active,
#next-question:hover,
#next-question:active {
  background-color: blue;
  color: #ffd700;
  border: 0.1em #371d0d solid;
}

.question {

  display: flex;
  flex-direction: column;
  width:50%;
  padding: 40px;
  margin:0 auto;
  background:rgba(199, 211, 34, 0.8);
  border-radius: 10px;
}

input[type="submit"] {
  margin-top: 10px;
}